<div class="container my-4">
  <div class="row">
    <div class="col">
      Search:<input type="text" id="searchtext" [(ngModel)]="searchtext" (keydown)="refresh()">
      <button (click)="refresh()" class="btn btn-primary">Search</button>
      <div id="add">
        New item:
        <input type="text" id="infotext" [(ngModel)]="item.info">
        Priority
        <select id="prio" [(ngModel)]="item.priority">
          <option value="0">None</option>
          <option value="1">Low</option>
          <option value="2">Normal</option>
          <option value="3">Urgent</option>
        </select>
        <button (click)="saveNew()" class="btn btn-primary">Add new</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="main">
        <table class="table" id="tab1">
          <thead>
            <tr>
              <th>Id</th>
              <th>State</th>
              <th>Description</th>
              <th>Priority</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tbody1">
            <tr *ngFor="let item of items">
              <td>{{item.id}}</td>
              <td><input type="checkbox" [(ngModel)]="item.done" (change)="checkchange($event,item.id)" /></td>
              <td>{{item.info}}</td>
              <td>{{item.priority}}</td>
              <td><button class="btn btn-warning" (click)="delete(item.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  